<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VP_žurnalas.Properties.Settings.ViesiejiConnectionString"
            connectionString="Data Source=RIMAS-WIN7\SQL_RIMO;Initial Catalog=Viesieji2015;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>